*{
    margin: 0;
    padding: 0%;

}
ul{
    
    display: flex;
  
    padding: 1rem;
    background-color: aqua;
}

li{
    list-style: none;
    padding: 1rem;

}

.bulb{
    background-color: yellow;
    height: 350px;
    width: 350px;
}